@model HospitalityProject.Models.Dashboard

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row mt-4">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Rooms</h5>
                <p class="card-text">@Model.TotalRooms</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Available Rooms</h5>
                <p class="card-text">@Model.AvailableRooms</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Unavailable Rooms</h5>
                <p class="card-text">@Model.UnavailableRooms</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Users</h5>
                <p class="card-text">@Model.TotalUsers</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Bookings</h5>
                <p class="card-text">@Model.TotalBookings</p>
            </div>
        </div>
    </div>

</div>
